
        .label{
            display:block;
            margin-top: 15px;;
        }
       body{
        display:flex;
        justify-content: center;
        height:100%;
        width:100%;
        align-items: center;
        margin-top:170px;

        
       }
       .container{
        background-color:pink;
        padding-left:50px;
        padding-right:50px;
        padding-top: 20px;
        padding-bottom: 30px;
        border-radius: 30px;
        box-shadow: 3px 3px 5px black;
        
       }
       button{
        padding:5px;
        margin-top:15px;
        border-radius:10px;
        margin-left:30px;
        height:40px;
        width:100px;
        
       }
       button:hover{
        background-color:bisque;
        transition:0.5s;
       }
       h2{
        display:flex;
        justify-content: center;
       }
       ::placeholder{
        font-size:15px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border-radius:10px;
       }
       #submit{
        background-color: rgb(58, 57, 57);
        color: azure;
       }
       #reset{
        background-color: rgb(238, 83, 83);
        color: azure;

       }
       .input{
        height:25px;
        width:300px;
        transition: transform 0.2s ease, border 0.2s ease;
    
        
       }
       .input:focus{
         transform: scale(1.05);
        border:2px solid black;
        outline:none;
        background-color: antiquewhite;
       }
       p{
        justify-content: center;
        display: flex;
       }
      


    